
.left{
    margin-left: 5%;
}

.allProduct-main-container{
    display: grid;
    grid-template-columns: 5% 15% 75% 5%; 
    place-content:start center;
}

.sorting-button{
    width: 100%;
    grid-column: 2/3;
    

}
.allProduct-container{
    width: 80%;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 100px;
}

.clothes-card{
    margin-bottom: 50px;
}
#sorting{
    width: 100%;
    padding: 15px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.title2{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 40px;
}

.description{
    font-size: smaller;
    margin-top: 10px;
}

.margin-top{
    margin: 30px 0;
}

.page-controller{
    text-align: center;
}

.page-button{
    margin: 5px;
}

.whiteline{
    margin-bottom: 30px;
}


@media only screen and (max-width: 600px) {
    .title2{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .margin-top{
        margin: 20px 0;
    }
    .whiteline{
        margin-bottom: 10px;
    }
    .sorting-button{
        width: 100%;
        grid-column: 1/3;
        font-size: 10px;
        height: 10px;
    }
    .allProduct-container{
        margin-left: 0;
        grid-column: 3/5;
        width: 100%;
    }
    .clothes-card{
        width: 80;
        height: 150;
    }

}