
body{
    font-family: "Libre Baskerville"
}

.main-container{
    display: grid;
    place-items: center;
    height: 90%;
}

.bottom{
    margin-bottom: 10%;
}

.left{
    margin-left: 5%;
}

.title2{
    font-size: 20px;
}

.line-container{
    grid-template-columns: 90%;
}
.whiteline{
    width: 100%;
}
.main-info-container{
    color: white;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-slider{
    overflow-y: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;

}

.up{
    transform: translateY(-100%);
}

.down{
    transform: translateY(100%);
}

.control-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 5px;

    position: absolute;
    top: 50%;
    right: 0;

    z-index: 5;

}

.control-button button{
    background-color: aqua;
    background-color: rgba(196, 193, 193, 0.25);
    border: none;
    opacity: 0.8;
    border-radius: 50%;

    width: 30px;
    height: 30px;
}

.image{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    /* transform: translateY(-100%); */

}


.info-container{
    width: 100%;
    margin-left: 5%;
}

.margin-top{
    margin: 20px 0;
}

.margin-top-50{
    margin: 50px 0;
}

.info-container h2{
    text-align: center;
}

.size-container{
    display: flex;
    align-items: space-evenly;
    gap: 50px;
    width: 100%;
}

.color-container{
    display: flex;
    align-items: space-evenly;
    gap: 50px;
}

.quantity{
    display: flex;
}

.quantity-btn{
    height: 20px;
    width: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ACACAC;
}

.displayQuantity{
    background: white;
    color: black;
    width: 40px;
    height: 20px;
    text-align: center;
    border: none;
}
.button-group{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
}

#result-notification{ 
    text-align: left;
    margin-top: 5px;
    grid-column: 1/-1;
}

.button{
    width: 180px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 0 #868686;
    transition: all 0.1s linear
}

.button:hover{
    box-shadow: 0 8px 0 #868686;
    transform: translateY(-3px);
}

.button:active {
    box-shadow: 0 2px 0 #868686;
    transform: translateY(3px);
}

input[type="radio"] {
    width: 20px;
    height: 20px   
}

input[name="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }

input[value="black"]{
    background-color: black;
}

input[value="white"]{
    background-color: white;
}

input[value="grey"]{
    background-color: grey;
}

input[value="blue"]{
    background-color: #3182ce;
}

input[value="pink"] {
    background: rgb(249, 132, 220);
}

input[value="bisque"] {
    background-color: bisque;
}

input[value="brown"] {
    background-color: brown;
}

input[value="green"]{
    background-color: green;
}
  
input[name="color"]:checked {
    border: 2px solid rgb(240, 77, 77);
}


.product-related-container{
    width: 100%;
}

.image1{
    width: 270;
    height: 356 ;
}

.price{
    color: rgba(244, 108, 108, 0.945);
    font-size: larger;
}

.image-child{
    color: white;
    text-align: center;
    cursor: pointer;
}


.image-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

} 

footer{
    margin-top: 40px;
}

.alert-successfully{
    text-align: center;
    margin-top: 10px;
    color: rgb(65, 169, 65);
  }
  
  .alert-error{
    text-align: center;
    margin-top: 10px;
    color: rgba(223, 78, 78, 0.882);
     /* color:rgb(247, 232, 232); */
  }


@media only screen and (max-width: 1200px )  {
    .button-group{
        width: 90%;
    }
    .button{
        width: 100%;
    }
    .image-container{
        flex-wrap: wrap;
    }
    .image1{
        width: 200;
        height: 300;
    }
}

@media only screen and (max-width: 600px) {
    .line-container{
        grid-template-columns: 100%;
    }
    .main-container{
        height: 140%;
        transition: all 0.4s ease-in-out;
    }
  
    .main-info-container{
        grid-template-columns: 100%;
        grid-template-rows: 30% 70% !important;
        width: 100%;
        height: 100%;
    }
    .info-container{
        margin-left: 0;
    }
    .info-container h2{
        text-align: left;
        margin-left: 5%;
    }
    .button-group{
        width: 90%;
    }
    .button{
        width: 100%;
        height: 40px;
    }
    .image1{
        width: 150;
        height: 180;
    }
}